body{
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
div#calculadora{
    width: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid 1px black;
    padding: 40px;
    border-radius: 20px;
    background-color:rgb(159, 212, 194)
}
button{
    width: 50px;
    margin: 5px;
    border-radius: 20px;

}
div#c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
input{
    width: 248px;
    height: 100px;
    text-align: right;
    border-radius: 20px;
    border: solid 1px black;
    background-color:azure;
    font-size: 50px;
}
img{
    width: 100px;
    height: 30px;

}

